html,body {
position:fixed;
width:100%;
height:100%;
overflow:auto;
}
a {
text-decoration:none;
}
.gradient-blue {
background: linear-gradient(135deg, #356aa0 0%,#000000 100%);
color:#ffffff;
}
.dark {
background-color:#222;
color:#ffffff;
}
.blue {
background-color:#356aa0;
color:#ffffff;
}
.grey {
background-color:#dddddd;
color:#000000;
}
.border-blue {
border-color:#356aa0!important;
}
.active {
background-color:#356aa0!important;
}
.scroll-h {
white-space:nowrap;
overflow-x:auto;
}
.scroll-h > .scroll-h-container {
display:inline-block;
padding:0.1px 8px;
margin-right:8px;
}
.overlay {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgba(000,000,000,0.8);
display:none;
z-index:99;
}
